#count{
    display: block;
    text-align: center;
    font-size: 5cm;
    font-family: Helvetica;
}

#btnContainer{
    text-align: center;
}

.Buttons{
    height: 50px;
    width: 100px;
    margin: 10px 10px 10px 10px;
    background-color: rgb(213, 208, 255);
    color: rgb(110, 40, 176);
    border: 2px solid rebeccapurple;
    border-radius: 5px;
    transition: background-color 0.5s;
}
.Buttons:hover{
    background-color: rgb(110, 40, 176);
    color: rgb(213, 208, 255);
}